// Define variables for your color scheme

// For example:
$red: #FE5F55;
$blue: #06AED5;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$beige-background: #F7F4F0;
$darker-beige-background: #e0ddd9;


// one palette, flashy-retro
$ninety-fushia: #FF2D79;
$ninety-fushia-75: #FF629A;
$ninety-fushia-50: #FF96BC;
$ninety-fushia-25: #FFCBDD;
$ninety-fushia-8: rgba(255, 45, 121, .08);
$gray: #000000;

$sunny-yellow: #FEEA72;
$light-yellow: #FFFAD9;

$brownie-black: #3C372E;
$brownie-gray: #706F6E;
$light-gray: #F4F4F4;
$middle-gray: #9E9E9E;

$light-beige: #F7F4F0;
$beige: #F2F0EB;
$dark-beige: #fbf3df;

// Tags:
$fushia: #FF2D79;
$fushia-8: rgba(255, 45, 121, .08);

$red: #D70000;
$red-8: #F7E0DD;

$inactive: #262626;
$inactive-8: #efefef;

$brown: #A3700C;
$brown-8: #EBE5E0;

$dark-brown: #673429;
$dark-brown-8: #EBE5E0;

$blue: #2DB3FF;
$blue-8: #E7EFF1;

$green-blue: #00D7CB;
$green-blue-8: #E3F2EE;

$purple: #E22DFF;
$purple-8: #F5E4F1;

$dark-purple: #7A36D1;
$dark-purple-8: #EBE5EE;

$yellow: #FFDD2D;
$yellow-8: #F8F2E0;

$orange: #FF922D;
$orange-8: #F8EDE2;

$dark-orange: #9E9E9E;
$dark-orange-8: #F8EDE2;

$green: #47ED1E;
$green-8: #E9F3DF;

$dark-green: #629E00;
$dark-green-8: #EBEDDD;

