#dose_logic{
 flex: 1 0 auto;

  h4{
    padding: 20px;
    text-align: center;

  }
}

#doses_list{
    padding: 20px;
    width: 90%;
    border-bottom: 1px solid lightgrey;

}

#show_content{
  margin: 20px;
  display: flex;
  align-items: flex-start;
}


#reviews{
  padding: 20px;
  width: 90%;
  border-bottom: 1px solid lightgrey;

}
