<h4> Add a ingredient </h4>

  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description, placeholder:"ex: 6 cl ...", label: false %>
    <%= f.association :ingredient, label: false, prompt: 'Select an ingredient'  %>

    <%=  f.button :submit, :class => "small-btn" %>
  <% end %>
