
 <div id="home_wrapper" style="background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                  url('../../assets/images/home_image.jpg');">
<!--  -->

    <div id="home_btn" class="text-center">
      <%= link_to "Add a cocktail", new_cocktail_path, class: "big-btn" %>
    </div>

 </div>

