

   <div id="home_wrapper"

      <div id="home_btn" class="text-center">
        <p>
          <span id="banner-typed-text"></span>
        </p>

        <%= link_to "Add a cocktail", new_cocktail_path, class: "big-btn" %>



      </div>

   </div>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
