<h4> Add a review </h4>

  <%= simple_form_for [@cocktail, @review] do |f| %>
    <%= f.input :content,placeholder:"Ex: 'fresh and strong, this cocktail is amaising'", label: false %>

    <%= f.input :rating, collection: [1,2,3,4,5],label: false,  as: :radio_buttons %>

    <%=  f.button :submit, :class => "small-btn" %>
  <% end %>
